.elementor-175 .elementor-element.elementor-element-301ae0b>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-175 .elementor-element.elementor-element-301ae0b>.elementor-container {
    max-width: 1335px;
}

.elementor-175 .elementor-element.elementor-element-301ae0b {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 120px 0px 0px 0px;
}

.elementor-175 .elementor-element.elementor-element-301ae0b>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-175 .elementor-element.elementor-element-69fdbf7>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-175 .elementor-element.elementor-element-69fdbf7>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-175 .elementor-element.elementor-element-69fdbf7>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-175 .elementor-element.elementor-element-08305d7>.elementor-element-populated {
    padding: 6px 0px 0px 0px;
}

.elementor-175 .elementor-element.elementor-element-97f470f .react-heading {
    text-align: justify;
}

.elementor-175 .elementor-element.elementor-element-97f470f .image-heading {
    justify-content: justify;
}

.elementor-175 .elementor-element.elementor-element-97f470f .react-heading .title-inner .title {
    font-size: 48px;
    font-weight: 700;
    line-height: 62px;
    margin: 0px 55px 20px 0px;
}

.elementor-175 .elementor-element.elementor-element-97f470f .react-heading .title-inner .title .high_light_text {
    font-size: 48px;
    line-height: 62px;
}

.elementor-175 .elementor-element.elementor-element-97f470f .react-heading .title-inner .sub-text {
    margin: 0px 0px 34px 0px;
}

.elementor-175 .elementor-element.elementor-element-97f470f .react-heading .description p,
.description {
    font-weight: 500;
}

.elementor-175 .elementor-element.elementor-element-97f470f .react-heading .description p {
    margin: 0px 0px 20px 0px;
}

.elementor-175 .elementor-element.elementor-element-97f470f .description {
    margin: 0px 0px 20px 0px;
}

.elementor-175 .elementor-element.elementor-element-6c6c5f9 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 60px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-175 .elementor-element.elementor-element-3a6073e>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-175 .elementor-element.elementor-element-3a6073e .elementor-tab-title,
.elementor-175 .elementor-element.elementor-element-3a6073e .elementor-tab-title:before,
.elementor-175 .elementor-element.elementor-element-3a6073e .elementor-tab-title:after,
.elementor-175 .elementor-element.elementor-element-3a6073e .elementor-tab-content,
.elementor-175 .elementor-element.elementor-element-3a6073e .elementor-tabs-content-wrapper {
    border-width: 2px;
}

.elementor-175 .elementor-element.elementor-element-3a6073e .elementor-tab-mobile-title,
.elementor-175 .elementor-element.elementor-element-3a6073e .elementor-tab-desktop-title.elementor-active,
.elementor-175 .elementor-element.elementor-element-3a6073e .elementor-tab-title:before,
.elementor-175 .elementor-element.elementor-element-3a6073e .elementor-tab-title:after,
.elementor-175 .elementor-element.elementor-element-3a6073e .elementor-tab-content,
.elementor-175 .elementor-element.elementor-element-3a6073e .elementor-tabs-content-wrapper {
    border-color: #1D4E89;
}

.elementor-175 .elementor-element.elementor-element-3a6073e .elementor-tab-title,
.elementor-175 .elementor-element.elementor-element-3a6073e .elementor-tab-title a {
    color: #1F1F25;
}

.elementor-175 .elementor-element.elementor-element-3a6073e .elementor-tab-title {
    font-weight: 600;
}

.elementor-175 .elementor-element.elementor-element-47f5a3a>.elementor-container {
    max-width: 1335px;
}

.elementor-175 .elementor-element.elementor-element-47f5a3a {
    padding: 110px 0px 80px 0px;
}

.elementor-175 .elementor-element.elementor-element-9dea4e3>.elementor-container {
    max-width: 700px;
}

.elementor-175 .elementor-element.elementor-element-b483e61 .react-heading span.watermark {
    font-size: 100px;
    width: 1500px;
}

.elementor-175 .elementor-element.elementor-element-b483e61 .react-heading span.watermark {
    left: -150px;
    top: -40px;
}

.elementor-175 .elementor-element.elementor-element-b483e61 .react-heading {
    text-align: center;
}

.elementor-175 .elementor-element.elementor-element-b483e61 .image-heading {
    justify-content: center;
}

.elementor-175 .elementor-element.elementor-element-b483e61 .react-heading .title-inner .title {
    margin: 0px 0px 0px 0px;
}

.elementor-175 .elementor-element.elementor-element-b483e61 .react-heading .description p,
.description {
    font-size: 16px;
    font-weight: 500;
}

.elementor-175 .elementor-element.elementor-element-b483e61 .react-heading .description {
    color: #74787C;
}

.elementor-175 .elementor-element.elementor-element-b483e61 .react-heading .description p {
    color: #74787C;
}

.elementor-175 .elementor-element.elementor-element-b483e61 .react-heading .description p a {
    color: #74787C;
}

.elementor-175 .elementor-element.elementor-element-b483e61 .description {
    color: #74787C;
}

.elementor-175 .elementor-element.elementor-element-cd548a3>.elementor-container {
    max-width: 1335px;
}

.elementor-175 .elementor-element.elementor-element-cd548a3 {
    margin-top: 35px;
    margin-bottom: 0px;
}

.elementor-175 .elementor-element.elementor-element-e835917 .rt-iconbox-area .box-inner {
    text-align: center;
}

.elementor-175 .elementor-element.elementor-element-e835917 .rt-iconbox-area .box-inner .text-area .iconbox-title .title::before {
    display: none;
}

.elementor-175 .elementor-element.elementor-element-e835917 .react-addon-services .services-part .services-text .services-btn-part .services-btn.icon-before i {
    margin-right: 10px;
}

.elementor-175 .elementor-element.elementor-element-e835917 .react-addon-services .services-part .services-text .services-btn-part .services-btn.icon-after i {
    margin-left: 10px;
}

.elementor-175 .elementor-element.elementor-element-e835917 .icon-area {
    color: #1D4E89 !important;
}

.elementor-175 .elementor-element.elementor-element-e835917 .rt-iconbox-area .box-inner .icon-area::after {
    display: none;
}

.elementor-175 .elementor-element.elementor-element-e835917 .rt-iconbox-area.services-btn-part .services-btn.icon-before:hover i {
    -webkit-transform: translateX(calc(-1 * 10px));
    transform: translateX(calc(-1 * 10px));
}

.elementor-175 .elementor-element.elementor-element-e835917 .rt-iconbox-area .services-btn-part .services-btn.icon-after:hover i {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
}

.elementor-175 .elementor-element.elementor-element-425a1b4 .rt-iconbox-area .box-inner {
    text-align: center;
}

.elementor-175 .elementor-element.elementor-element-425a1b4 .rt-iconbox-area .box-inner .text-area .iconbox-title .title::before {
    display: none;
}

.elementor-175 .elementor-element.elementor-element-425a1b4 .react-addon-services .services-part .services-text .services-btn-part .services-btn.icon-before i {
    margin-right: 10px;
}

.elementor-175 .elementor-element.elementor-element-425a1b4 .react-addon-services .services-part .services-text .services-btn-part .services-btn.icon-after i {
    margin-left: 10px;
}

.elementor-175 .elementor-element.elementor-element-425a1b4 .icon-area {
    color: #1D4E89 !important;
}

.elementor-175 .elementor-element.elementor-element-425a1b4 .rt-iconbox-area .box-inner .icon-area::after {
    display: none;
}

.elementor-175 .elementor-element.elementor-element-425a1b4 .rt-iconbox-area.services-btn-part .services-btn.icon-before:hover i {
    -webkit-transform: translateX(calc(-1 * 10px));
    transform: translateX(calc(-1 * 10px));
}

.elementor-175 .elementor-element.elementor-element-425a1b4 .rt-iconbox-area .services-btn-part .services-btn.icon-after:hover i {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
}

.elementor-175 .elementor-element.elementor-element-8154cfc .rt-iconbox-area .box-inner {
    text-align: center;
}

.elementor-175 .elementor-element.elementor-element-8154cfc .rt-iconbox-area .box-inner .text-area .iconbox-title .title::before {
    display: none;
}

.elementor-175 .elementor-element.elementor-element-8154cfc .react-addon-services .services-part .services-text .services-btn-part .services-btn.icon-before i {
    margin-right: 10px;
}

.elementor-175 .elementor-element.elementor-element-8154cfc .react-addon-services .services-part .services-text .services-btn-part .services-btn.icon-after i {
    margin-left: 10px;
}

.elementor-175 .elementor-element.elementor-element-8154cfc .icon-area {
    color: #1D4E89 !important;
}

.elementor-175 .elementor-element.elementor-element-8154cfc .rt-iconbox-area .box-inner .icon-area::after {
    display: none;
}

.elementor-175 .elementor-element.elementor-element-8154cfc .rt-iconbox-area.services-btn-part .services-btn.icon-before:hover i {
    -webkit-transform: translateX(calc(-1 * 10px));
    transform: translateX(calc(-1 * 10px));
}

.elementor-175 .elementor-element.elementor-element-8154cfc .rt-iconbox-area .services-btn-part .services-btn.icon-after:hover i {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
}

.elementor-175 .elementor-element.elementor-element-793d23b>.elementor-container {
    max-width: 1335px;
}

.elementor-175 .elementor-element.elementor-element-793d23b {
    margin-top: 35px;
    margin-bottom: 0px;
}

.elementor-175 .elementor-element.elementor-element-4d54b3f .rt-iconbox-area .box-inner {
    text-align: center;
}

.elementor-175 .elementor-element.elementor-element-4d54b3f .rt-iconbox-area .box-inner .text-area .iconbox-title .title::before {
    display: none;
}

.elementor-175 .elementor-element.elementor-element-4d54b3f .react-addon-services .services-part .services-text .services-btn-part .services-btn.icon-before i {
    margin-right: 10px;
}

.elementor-175 .elementor-element.elementor-element-4d54b3f .react-addon-services .services-part .services-text .services-btn-part .services-btn.icon-after i {
    margin-left: 10px;
}

.elementor-175 .elementor-element.elementor-element-4d54b3f .icon-area {
    color: #1D4E89 !important;
}

.elementor-175 .elementor-element.elementor-element-4d54b3f .rt-iconbox-area .box-inner .icon-area::after {
    display: none;
}

.elementor-175 .elementor-element.elementor-element-4d54b3f .rt-iconbox-area.services-btn-part .services-btn.icon-before:hover i {
    -webkit-transform: translateX(calc(-1 * 10px));
    transform: translateX(calc(-1 * 10px));
}

.elementor-175 .elementor-element.elementor-element-4d54b3f .rt-iconbox-area .services-btn-part .services-btn.icon-after:hover i {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
}

.elementor-175 .elementor-element.elementor-element-7a564c1 .rt-iconbox-area .box-inner {
    text-align: center;
}

.elementor-175 .elementor-element.elementor-element-7a564c1 .rt-iconbox-area .box-inner .text-area .iconbox-title .title::before {
    display: none;
}

.elementor-175 .elementor-element.elementor-element-7a564c1 .react-addon-services .services-part .services-text .services-btn-part .services-btn.icon-before i {
    margin-right: 10px;
}

.elementor-175 .elementor-element.elementor-element-7a564c1 .react-addon-services .services-part .services-text .services-btn-part .services-btn.icon-after i {
    margin-left: 10px;
}

.elementor-175 .elementor-element.elementor-element-7a564c1 .icon-area {
    color: #1D4E89 !important;
}

.elementor-175 .elementor-element.elementor-element-7a564c1 .rt-iconbox-area .box-inner .icon-area::after {
    display: none;
}

.elementor-175 .elementor-element.elementor-element-7a564c1 .rt-iconbox-area.services-btn-part .services-btn.icon-before:hover i {
    -webkit-transform: translateX(calc(-1 * 10px));
    transform: translateX(calc(-1 * 10px));
}

.elementor-175 .elementor-element.elementor-element-7a564c1 .rt-iconbox-area .services-btn-part .services-btn.icon-after:hover i {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
}

.elementor-175 .elementor-element.elementor-element-0f5aa9f .rt-iconbox-area .box-inner {
    text-align: center;
}

.elementor-175 .elementor-element.elementor-element-0f5aa9f .rt-iconbox-area .box-inner .text-area .iconbox-title .title::before {
    display: none;
}

.elementor-175 .elementor-element.elementor-element-0f5aa9f .react-addon-services .services-part .services-text .services-btn-part .services-btn.icon-before i {
    margin-right: 10px;
}

.elementor-175 .elementor-element.elementor-element-0f5aa9f .react-addon-services .services-part .services-text .services-btn-part .services-btn.icon-after i {
    margin-left: 10px;
}

.elementor-175 .elementor-element.elementor-element-0f5aa9f .icon-area {
    color: #1D4E89 !important;
}

.elementor-175 .elementor-element.elementor-element-0f5aa9f .rt-iconbox-area .box-inner .icon-area::after {
    display: none;
}

.elementor-175 .elementor-element.elementor-element-0f5aa9f .rt-iconbox-area.services-btn-part .services-btn.icon-before:hover i {
    -webkit-transform: translateX(calc(-1 * 10px));
    transform: translateX(calc(-1 * 10px));
}

.elementor-175 .elementor-element.elementor-element-0f5aa9f .rt-iconbox-area .services-btn-part .services-btn.icon-after:hover i {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
}

.elementor-175 .elementor-element.elementor-element-aed2ea0>.elementor-container {
    max-width: 1335px;
}

.elementor-175 .elementor-element.elementor-element-aed2ea0 {
    padding: 0px 0px 0px 0px;
}

.elementor-175 .elementor-element.elementor-element-4cb5ec4>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-175 .elementor-element.elementor-element-bb7e14b {
    margin-top: 110px;
    margin-bottom: 0px;
}

.elementor-175 .elementor-element.elementor-element-20e26aa .rt-features-list-content ul li .icon i {
    background-color: #212025;
    color: #FFFFFF;
    text-align: center;
    border-radius: 100px 100px 100px 100px;
}

.elementor-175 .elementor-element.elementor-element-20e26aa .rt-features-list-content ul li .icon {
    background-color: #FB8500;
    padding: 10px 10px 10px 10px;
    border-radius: 100px 100px 100px 100px;
    margin: 0px 22px 0px 0px;
}

.elementor-175 .elementor-element.elementor-element-20e26aa>.elementor-widget-container {
    background-color: #1D4E89;
    padding: 70px 20px 60px 65px;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 7px 7px 7px 7px;
}

.elementor-175 .elementor-element.elementor-element-20e26aa .rt-features-list-content ul li .sub-text {
    color: #FFFFFF;
    font-family: "Albert Sans", Sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    padding: 0px 0px 13px 0px;
}

.elementor-175 .elementor-element.elementor-element-20e26aa .rt-features-list-content ul li .text-heading {
    color: #FFFFFF;
    font-family: "Exo", Sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    padding: 0px 0px 7px 0px;
}

.elementor-175 .elementor-element.elementor-element-20e26aa .rt-features-list.separator_yes:after {
    height: 0px;
}

.elementor-175 .elementor-element.elementor-element-20e26aa .rt-features-list-content ul li {
    align-items: center;
    justify-content: left;
}

.elementor-175 .elementor-element.elementor-element-20e26aa .rt-features-list-content ul li .message {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    margin: 0px 0px 0px 0px;
}

.elementor-175 .elementor-element.elementor-element-20e26aa .rt-features-list-content ul li .icon svg {
    fill: #FFFFFF;
    text-align: center;
    border-radius: 100px 100px 100px 100px;
}

.elementor-175 .elementor-element.elementor-element-20e26aa .rt-features-list .icon svg {
    width: 90px;
    height: 90px;
    line-height: 90px;
}

.elementor-175 .elementor-element.elementor-element-20e26aa .rt-features-list .icon i {
    font-size: 30px;
    width: 90px;
    height: 90px;
    line-height: 90px;
}

.elementor-175 .elementor-element.elementor-element-e9d7f1f .rt-features-list-content ul li .icon i {
    background-color: #FFFFFF;
    color: #FFFFFF;
    text-align: center;
    border-radius: 100px 100px 100px 100px;
}

.elementor-175 .elementor-element.elementor-element-e9d7f1f .rt-features-list-content ul li .icon {
    background-color: #FB8500;
    padding: 10px 10px 10px 10px;
    border-radius: 100px 100px 100px 100px;
    margin: 0px 22px 0px 0px;
}

.elementor-175 .elementor-element.elementor-element-e9d7f1f>.elementor-widget-container {
    background-color: #1D4E89;
    background-image: url("https://maharjanmetal.com.np/wp-content/uploads/2023/07/01-2.png");
    padding: 70px 20px 60px 65px;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 7px 7px 7px 7px;
}

.elementor-175 .elementor-element.elementor-element-e9d7f1f .rt-features-list-content ul li .sub-text {
    color: #FFFFFF;
    font-family: "Albert Sans", Sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    padding: 0px 0px 13px 0px;
}

.elementor-175 .elementor-element.elementor-element-e9d7f1f .rt-features-list-content ul li .text-heading {
    color: #FFFFFF;
    font-family: "Exo", Sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    padding: 0px 0px 7px 0px;
}

.elementor-175 .elementor-element.elementor-element-e9d7f1f .rt-features-list.separator_yes:after {
    height: 0px;
}

.elementor-175 .elementor-element.elementor-element-e9d7f1f .rt-features-list-content ul li {
    align-items: center;
    justify-content: left;
}

.elementor-175 .elementor-element.elementor-element-e9d7f1f .rt-features-list-content ul li .message {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    margin: 0px 0px 0px 0px;
}

.elementor-175 .elementor-element.elementor-element-e9d7f1f .rt-features-list-content ul li .icon svg {
    fill: #FFFFFF;
    text-align: center;
    border-radius: 100px 100px 100px 100px;
}

.elementor-175 .elementor-element.elementor-element-e9d7f1f .rt-features-list .icon svg {
    width: 90px;
    height: 90px;
    line-height: 90px;
}

.elementor-175 .elementor-element.elementor-element-e9d7f1f .rt-features-list .icon i {
    font-size: 30px;
    width: 90px;
    height: 90px;
    line-height: 90px;
}

.elementor-175 .elementor-element.elementor-element-03766d7>.elementor-container {
    max-width: 1335px;
}

.elementor-175 .elementor-element.elementor-element-03766d7 {
    padding: 110px 0px 80px 0px;
}

.elementor-175 .elementor-element.elementor-element-d8cff5b>.elementor-container {
    max-width: 700px;
}

.elementor-175 .elementor-element.elementor-element-e8a74de .react-heading span.watermark {
    font-size: 100px;
    width: 1500px;
}

.elementor-175 .elementor-element.elementor-element-e8a74de .react-heading span.watermark {
    left: -150px;
    top: -40px;
}

.elementor-175 .elementor-element.elementor-element-e8a74de .react-heading {
    text-align: center;
}

.elementor-175 .elementor-element.elementor-element-e8a74de .image-heading {
    justify-content: center;
}

.elementor-175 .elementor-element.elementor-element-e8a74de .react-heading .title-inner .title {
    margin: 0px 0px 0px 0px;
}

.elementor-175 .elementor-element.elementor-element-e8a74de .react-heading .description p,
.description {
    font-size: 16px;
    font-weight: 500;
}

.elementor-175 .elementor-element.elementor-element-e8a74de .react-heading .description {
    color: #74787C;
}

.elementor-175 .elementor-element.elementor-element-e8a74de .react-heading .description p {
    color: #74787C;
}

.elementor-175 .elementor-element.elementor-element-e8a74de .react-heading .description p a {
    color: #74787C;
}

.elementor-175 .elementor-element.elementor-element-e8a74de .description {
    color: #74787C;
}

.elementor-175 .elementor-element.elementor-element-67ab469>.elementor-container {
    max-width: 1335px;
}

.elementor-175 .elementor-element.elementor-element-67ab469 {
    margin-top: 35px;
    margin-bottom: 0px;
}

.elementor-175 .elementor-element.elementor-element-8cf2eda .content h5,
.elementor-175 .elementor-element.elementor-element-8cf2eda .rt-experience h5 {
    font-size: 18px;
    font-weight: 600;
}

.elementor-175 .elementor-element.elementor-element-bd0a8d8 .content h5,
.elementor-175 .elementor-element.elementor-element-bd0a8d8 .rt-experience h5 {
    font-size: 18px;
    font-weight: 600;
}

.elementor-175 .elementor-element.elementor-element-dad74aa .content h5,
.elementor-175 .elementor-element.elementor-element-dad74aa .rt-experience h5 {
    font-size: 18px;
    font-weight: 600;
}

.elementor-175 .elementor-element.elementor-element-5f77816>.elementor-container {
    max-width: 1335px;
}

.elementor-175 .elementor-element.elementor-element-5f77816 {
    margin-top: 35px;
    margin-bottom: 0px;
}

.elementor-175 .elementor-element.elementor-element-4b2c5be .content h5,
.elementor-175 .elementor-element.elementor-element-4b2c5be .rt-experience h5 {
    font-size: 18px;
    font-weight: 600;
}

.elementor-175 .elementor-element.elementor-element-4c954b7 .content h5,
.elementor-175 .elementor-element.elementor-element-4c954b7 .rt-experience h5 {
    font-size: 18px;
    font-weight: 600;
}

.elementor-175 .elementor-element.elementor-element-56adb3a .content h5,
.elementor-175 .elementor-element.elementor-element-56adb3a .rt-experience h5 {
    font-size: 18px;
    font-weight: 600;
}

.elementor-175 .elementor-element.elementor-element-1beea30>.elementor-container {
    max-width: 1335px;
}

.elementor-175 .elementor-element.elementor-element-1beea30 {
    margin-top: 35px;
    margin-bottom: 0px;
}

.elementor-175 .elementor-element.elementor-element-7f7fe31 .content h5,
.elementor-175 .elementor-element.elementor-element-7f7fe31 .rt-experience h5 {
    font-size: 18px;
    font-weight: 600;
}

.elementor-175 .elementor-element.elementor-element-6a97920 .content h5,
.elementor-175 .elementor-element.elementor-element-6a97920 .rt-experience h5 {
    font-size: 18px;
    font-weight: 600;
}

.elementor-175 .elementor-element.elementor-element-c071769>.elementor-container {
    max-width: 1335px;
}

.elementor-175 .elementor-element.elementor-element-c071769 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 115px 0px 0px 0px;
}

.elementor-175 .elementor-element.elementor-element-c071769>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-175 .elementor-element.elementor-element-9dbfa33 .react-heading {
    text-align: center;
}

.elementor-175 .elementor-element.elementor-element-9dbfa33 .image-heading {
    justify-content: center;
}

.elementor-175 .elementor-element.elementor-element-9dbfa33 .react-heading .title-inner .title {
    font-size: 48px;
    font-weight: 700;
    line-height: 62px;
    margin: 0px 0px 0px 0px;
}

.elementor-175 .elementor-element.elementor-element-9dbfa33 .react-heading .title-inner .title .high_light_text {
    font-size: 48px;
    line-height: 62px;
}

.elementor-175 .elementor-element.elementor-element-9dbfa33 .react-heading .title-inner .sub-text {
    margin: 0px 0px 034px 0px;
}

.elementor-175 .elementor-element.elementor-element-9dbfa33 .react-heading .description p,
.description {
    font-weight: 500;
}

.elementor-175 .elementor-element.elementor-element-9dbfa33 .react-heading .description p {
    margin: 0px 17px 10px 0px;
}

.elementor-175 .elementor-element.elementor-element-9dbfa33 .description {
    margin: 0px 17px 10px 0px;
}

.elementor-175 .elementor-element.elementor-element-027f447>.elementor-widget-container {
    margin: 30px 0px 0px 0px;
}

.elementor-175 .elementor-element.elementor-element-027f447 .rs-team-grid .team-item .team-name a,
.solar-energy-team .inner-content a .title {
    font-size: 24px;
}

.elementor-175 .elementor-element.elementor-element-027f447 .social-icons1 a i {
    font-size: 15px;
}

.elementor-175 .elementor-element.elementor-element-027f447 .team-social a i {
    font-size: 15px;
}

.elementor-175 .elementor-element.elementor-element-027f447 .team-inner-wrap .social-icons a i {
    font-size: 15px;
}

.elementor-175 .elementor-element.elementor-element-8c71f59:not(.elementor-motion-effects-element-type-background),
.elementor-175 .elementor-element.elementor-element-8c71f59>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("https://maharjanmetal.com.np/wp-content/uploads/2023/05/06-1.webp");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-175 .elementor-element.elementor-element-8c71f59>.elementor-container {
    max-width: 1335px;
}

.elementor-175 .elementor-element.elementor-element-8c71f59 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 120px 0px 120px 0px;
}

.elementor-175 .elementor-element.elementor-element-8c71f59>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-175 .elementor-element.elementor-element-271ac88>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-175 .elementor-element.elementor-element-271ac88>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-175 .elementor-element.elementor-element-515499f>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-175 .elementor-element.elementor-element-515499f .react-image {
    text-align: left;
}

.elementor-175 .elementor-element.elementor-element-82de53e {
    width: var( --container-widget-width, 170px);
    max-width: 170px;
    --container-widget-width: 170px;
    --container-widget-flex-grow: 0;
    bottom: 25%;
}

body:not(.rtl) .elementor-175 .elementor-element.elementor-element-82de53e {
    right: -38%;
}

body.rtl .elementor-175 .elementor-element.elementor-element-82de53e {
    left: -38%;
}

.elementor-175 .elementor-element.elementor-element-7d491f5>.elementor-element-populated {
    padding: 6px 0px 0px 80px;
}

.elementor-175 .elementor-element.elementor-element-3607cd9 .react-heading .title-inner .title {
    font-size: 48px;
    font-weight: 700;
    line-height: 62px;
    margin: 0px 55px 20px 0px;
}

.elementor-175 .elementor-element.elementor-element-3607cd9 .react-heading .title-inner .title .high_light_text {
    font-size: 48px;
    line-height: 62px;
}

.elementor-175 .elementor-element.elementor-element-3607cd9 .react-heading .title-inner .sub-text {
    margin: 0px 0px 34px 0px;
}

.elementor-175 .elementor-element.elementor-element-3607cd9 .react-heading .description p,
.description {
    font-weight: 500;
}

.elementor-175 .elementor-element.elementor-element-3607cd9 .react-heading .description p {
    margin: 0px 17px 10px 0px;
}

.elementor-175 .elementor-element.elementor-element-3607cd9 .description {
    margin: 0px 17px 10px 0px;
}

.elementor-175 .elementor-element.elementor-element-6dfd774 .rs-addon-slider .grid-item {
    padding: 0 15px;
}

@media(max-width:1024px) {
    .elementor-175 .elementor-element.elementor-element-08305d7>.elementor-element-populated {
        padding: 40px 0px 0px 20px;
    }
    .elementor-175 .elementor-element.elementor-element-97f470f .react-heading .title-inner .title {
        font-size: 36px;
        line-height: 50px;
    }
    .elementor-175 .elementor-element.elementor-element-97f470f .react-heading .title-inner .title .high_light_text {
        font-size: 36px;
        line-height: 50px;
    }
    .elementor-175 .elementor-element.elementor-element-9dea4e3>.elementor-container {
        max-width: 500px;
    }
    .elementor-175 .elementor-element.elementor-element-20e26aa>.elementor-widget-container {
        padding: 70px 0px 60px 30px;
    }
    .elementor-175 .elementor-element.elementor-element-20e26aa .rt-features-list-content ul li .text-heading {
        font-size: 24px;
        line-height: 35px;
    }
    .elementor-175 .elementor-element.elementor-element-e9d7f1f>.elementor-widget-container {
        padding: 70px 0px 60px 30px;
    }
    .elementor-175 .elementor-element.elementor-element-e9d7f1f .rt-features-list-content ul li .text-heading {
        font-size: 24px;
        line-height: 35px;
    }
    .elementor-175 .elementor-element.elementor-element-d8cff5b>.elementor-container {
        max-width: 500px;
    }
    .elementor-175 .elementor-element.elementor-element-9dbfa33 .react-heading .title-inner .title {
        margin: 0px 0px 20px 0px;
    }
    .elementor-bc-flex-widget .elementor-175 .elementor-element.elementor-element-271ac88.elementor-column .elementor-widget-wrap {
        align-items: flex-start;
    }
    .elementor-175 .elementor-element.elementor-element-271ac88.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
        align-content: flex-start;
        align-items: flex-start;
    }
    body:not(.rtl) .elementor-175 .elementor-element.elementor-element-82de53e {
        right: -50%;
    }
    body.rtl .elementor-175 .elementor-element.elementor-element-82de53e {
        left: -50%;
    }
    .elementor-175 .elementor-element.elementor-element-82de53e {
        bottom: 45%;
    }
    .elementor-175 .elementor-element.elementor-element-7d491f5>.elementor-element-populated {
        padding: 6px 0px 0px 45px;
    }
    .elementor-175 .elementor-element.elementor-element-3607cd9 .react-heading .title-inner .title {
        margin: 0px 0px 20px 0px;
    }
}

@media(min-width:768px) {
    .elementor-175 .elementor-element.elementor-element-69fdbf7 {
        width: 50%;
    }
    .elementor-175 .elementor-element.elementor-element-08305d7 {
        width: 50%;
    }
    .elementor-175 .elementor-element.elementor-element-271ac88 {
        width: 50%;
    }
    .elementor-175 .elementor-element.elementor-element-7d491f5 {
        width: 50%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-175 .elementor-element.elementor-element-69fdbf7 {
        width: 100%;
    }
    .elementor-175 .elementor-element.elementor-element-08305d7 {
        width: 100%;
    }
    .elementor-175 .elementor-element.elementor-element-9f79af6 {
        width: 50%;
    }
    .elementor-175 .elementor-element.elementor-element-0d5b68f {
        width: 50%;
    }
    .elementor-175 .elementor-element.elementor-element-2686e0d {
        width: 50%;
    }
    .elementor-175 .elementor-element.elementor-element-ca26fa6 {
        width: 50%;
    }
    .elementor-175 .elementor-element.elementor-element-3aa3097 {
        width: 50%;
    }
    .elementor-175 .elementor-element.elementor-element-8b81239 {
        width: 50%;
    }
    .elementor-175 .elementor-element.elementor-element-3be8b76 {
        width: 50%;
    }
    .elementor-175 .elementor-element.elementor-element-f770cc8 {
        width: 50%;
    }
    .elementor-175 .elementor-element.elementor-element-30e8aef {
        width: 50%;
    }
    .elementor-175 .elementor-element.elementor-element-e72186c {
        width: 50%;
    }
    .elementor-175 .elementor-element.elementor-element-b87d822 {
        width: 50%;
    }
    .elementor-175 .elementor-element.elementor-element-cd9e747 {
        width: 50%;
    }
    .elementor-175 .elementor-element.elementor-element-e93d054 {
        width: 50%;
    }
    .elementor-175 .elementor-element.elementor-element-14a1450 {
        width: 50%;
    }
    .elementor-175 .elementor-element.elementor-element-4298327 {
        width: 50%;
    }
    .elementor-175 .elementor-element.elementor-element-271ac88 {
        width: 45%;
    }
    .elementor-175 .elementor-element.elementor-element-7d491f5 {
        width: 55%;
    }
}

@media(max-width:767px) {
    .elementor-175 .elementor-element.elementor-element-301ae0b {
        padding: 100px 10px 0px 10px;
    }
    .elementor-175 .elementor-element.elementor-element-08305d7>.elementor-element-populated {
        padding: 60px 10px 0px 10px;
    }
    .elementor-175 .elementor-element.elementor-element-97f470f>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }
    .elementor-175 .elementor-element.elementor-element-97f470f .react-heading .title-inner .title {
        font-size: 36px;
        line-height: 51px;
    }
    .elementor-175 .elementor-element.elementor-element-97f470f .react-heading .title-inner .title .high_light_text {
        font-size: 36px;
        line-height: 51px;
    }
    .elementor-175 .elementor-element.elementor-element-47f5a3a {
        padding: 80px 0px 050px 0px;
    }
    .elementor-175 .elementor-element.elementor-element-9dea4e3>.elementor-container {
        max-width: 400px;
    }
    .elementor-175 .elementor-element.elementor-element-aed2ea0 {
        padding: 0px 0px 0px 0px;
    }
    .elementor-175 .elementor-element.elementor-element-20e26aa>.elementor-widget-container {
        padding: 50px 20px 40px 30px;
    }
    .elementor-175 .elementor-element.elementor-element-20e26aa .rt-features-list-content ul li .text-heading {
        font-size: 20px;
    }
    .elementor-175 .elementor-element.elementor-element-20e26aa .rt-features-list .icon svg {
        width: 60px;
        height: 60px;
        line-height: 60px;
    }
    .elementor-175 .elementor-element.elementor-element-20e26aa .rt-features-list .icon i {
        font-size: 20px;
        width: 60px;
        height: 60px;
        line-height: 60px;
    }
    .elementor-175 .elementor-element.elementor-element-e9d7f1f>.elementor-widget-container {
        padding: 50px 20px 40px 30px;
    }
    .elementor-175 .elementor-element.elementor-element-e9d7f1f .rt-features-list-content ul li .text-heading {
        font-size: 20px;
    }
    .elementor-175 .elementor-element.elementor-element-e9d7f1f .rt-features-list-content ul li .message {
        font-size: 11px;
        line-height: 10px;
    }
    .elementor-175 .elementor-element.elementor-element-e9d7f1f .rt-features-list .icon svg {
        width: 60px;
        height: 60px;
        line-height: 60px;
    }
    .elementor-175 .elementor-element.elementor-element-e9d7f1f .rt-features-list .icon i {
        font-size: 20px;
        width: 60px;
        height: 60px;
        line-height: 60px;
    }
    .elementor-175 .elementor-element.elementor-element-03766d7 {
        padding: 80px 0px 050px 0px;
    }
    .elementor-175 .elementor-element.elementor-element-d8cff5b>.elementor-container {
        max-width: 400px;
    }
    .elementor-175 .elementor-element.elementor-element-c071769 {
        padding: 95px 0px 0px 0px;
    }
    .elementor-175 .elementor-element.elementor-element-9dbfa33 .react-heading .title-inner .title {
        font-size: 36px;
        line-height: 51px;
    }
    .elementor-175 .elementor-element.elementor-element-9dbfa33 .react-heading .title-inner .title .high_light_text {
        font-size: 36px;
        line-height: 51px;
    }
    .elementor-175 .elementor-element.elementor-element-027f447>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-175 .elementor-element.elementor-element-8c71f59 {
        padding: 50px 10px 0100px 10px;
    }
    body:not(.rtl) .elementor-175 .elementor-element.elementor-element-82de53e {
        right: -62%;
    }
    body.rtl .elementor-175 .elementor-element.elementor-element-82de53e {
        left: -62%;
    }
    .elementor-175 .elementor-element.elementor-element-82de53e {
        bottom: 10%;
    }
    .elementor-175 .elementor-element.elementor-element-3607cd9 .react-heading .title-inner .title {
        font-size: 36px;
        line-height: 51px;
    }
    .elementor-175 .elementor-element.elementor-element-3607cd9 .react-heading .title-inner .title .high_light_text {
        font-size: 36px;
        line-height: 51px;
    }
}